body {
  width: 960px;
  margin: auto;
  margin-top: 10px;
}

main{
  overflow: auto;
}

div {
  height: 50px;
  margin-bottom: 44px;
  text-indent: 20px;
}

.listLeft {
  display: inline;
  float: left;
  margin-left: 80px;
  margin-top: 37px;
  line-height: 31px;
  font-size: 20px;
}

.listRight {
  display: inline;
  float: right;
  margin-top: -248px;
  line-height: 31px;
  font-size: 20px;
  margin-right: 240px;
}
.low-banner{
    height: 400px;
    background: white;
    color: gray;
    text-align: center;
    margin: auto;
    margin-right: 126px;
}

.vanessa{
  background: white;
  color: gray;
  text-align: left;
  margin: auto;
  margin-left: 88px;
  margin-bottom: -71px;
}

.smallLogo{
  background: white;
  text-align: center;
  margin-top: -287px;
}

.featured{
  width: 1400px;
  background-color: white;
  color: black;
  margin-top: 11px;
  font-weight: bold;
  font-size: 20px;
}

.lorum{
  width: 90%;
  background-color: white;
  text-align: left;
  color: black;
  position: relative;
}

.cream{
  width: 90%;
  background-color: white;
  text-align: left;
  color: black;
  position: relative;
}

.mixing{
  width: 90%;
  background-color: white;
  text-align: left;
  color: black;
  position: relative;
}

.action{
  float: right;
  width: 21%;
  background-color: black;
  text-align: center;
  color: white;
  margin-top: -60px;
  margin-left: 300px;
  margin-right: 256px;
  text-align: center;
}

/* #main-navigation, #navigation2, #navigation3, #navigation4{
  display: inline-block;
  margin: 50px;
  background: gray;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 30px;
  padding-left: 5px;
}

#navigation2{
   float: right;
}

#navigation3{
   float: left;
}

#navigation4{
   float: right;
} */

main img{
  margin-bottom: 10px;
}

#sub-banner1, #sub-banner2, #sub-banner3 {
  height: 375px;
  border: 2px solid black;
  width: 289px;
  background: black;
  padding: 10px;
  color: gray;
  overflow: auto;
}

/* footer {
  background:white;
  height: 30px;
  margin-top: 20px;
  padding: 10px;
} */

.img-container{
  height: 70%;
  background-position: center;
  background-size: cover;
  position: relative;
}

#outter{
    width: 1000px;
    height: 300px;
    position: relative;
    }

 #image {
  width: 1000px;
  height: 300px;
  position: absolute;
    }
    
    #contentOutter {
    width: 1000px;
    height: 300px;
    position: absolute;
    }
    
    #content {
    margin-left: 100px;
    width: 900px;
    float: right;
    }

    input[type=checkbox]:checked + label.strikethrough{
      text-decoration: line-through;
    }

main img{
  margin-bottom: 10px;
}

#sub-banner1, #sub-banner2, #sub-banner3 {
  height: 375px;
  border: 2px solid black;
  width: 289px;
  background: black;
  padding: 10px;
  color: gray;
  overflow: auto;
}

#sub-banner3 {
  margin: 0 10px;
  float: right;
}

#sub-banner2 {
  float: right;
}

#sub-banner1 {
  float: left;
}


/* BRETT'S CHANGES */
footer{
  margin-top: 320px;
}

.pageBreak{
  width: 960px;
  height: 12px;
  /* margin-bottom: 2em; */
  background-repeat: repeat-x;
  background: url(https://raw.githubusercontent.com/codefellows/seattle-201n15/master/class-10/lab-chocolate-pizza/hr-img.png);
}

#navContainer{
  width: 960px;
  display: inline;
}

#socialMedia{
  /* display: inline; */
  float: right;
}

#navDivide{
  display: inline;
  margin-right: 12px;
}

#footerBio{
  width: 960px;
  height: 150px;
  /* margin: auto auto 30px auto; */
  /* display: inline; */
}

#bioPic{
  float: left;
  /* margin: auto auto 30px auto; */
  width: 100px;
  height: auto;
  border-radius: 50%;
}

#shareButton{
  float: right;
  width: 150px;
  height: 60px;
  background-color: black;
  margin-bottom: -30px;
}

/* END MY CHANGES */